/* *{
    background-color: rgb(233, 233, 233);
} */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 350px 500px 200px;
    grid-auto-flow: auto;
    background-color: rgb(233, 233, 233);

}
.header{
    grid-area: 1/1/2/6 ;
    color: white;
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-top: 5px;
    

}
.search{
    grid-area:1/2/2/4 ;
    padding-left: 15px;
    padding-top: 37px;
}
.search input{
    border-radius: 5px;
    padding-left: 6px;
}
.nav{
    grid-area: 1/4/2/6;
    list-style: none;
    margin-top: 16px;
    margin-left: 10px;
    justify-self: end;
    
    
}
.nav li{
    list-style: none;
    line-height: 30px;
    display: inline;
    padding: 20px;


}
.nav a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 110, 255);
    border-radius: 7px;
    padding: 5px;
    
}
@media (max-width:320px) {
        .nav{
            justify-self: end;
            text-align: end;
            margin-bottom: 20px;
      
        }
        li{
            margin-bottom:0px;
        }
        .nav li{
        padding:5px 4px 5px 0px;
        font-size: 10px;       
        }

        .search input{
            width: 150px;
            margin-left: 15px;
        }

}
@media (min-width:321px)and (max-width:375px) {
    .nav{
        justify-self: end;
        text-align: end;
        margin-bottom: 20px;
    }
    .nav li{
    padding:5px 4px 5px 0px;
    font-size: 12px;
    }

    .search input{
        width: 190px;
        margin-left: 10px;
    }
}

@media (min-width:376px) and (max-width:425px) {
    .nav{
        justify-self: end;
        text-align: end;
        margin-bottom: 20px;
    }
    .nav li{
    padding:5px 4px 5px 0px;
    font-size: 15px;
    }

    .search input{
        width: 200px;
    }
}

@media (min-width:425px) and (max-width:791px) {
    .nav{
        justify-self: end;
        text-align: end;
        margin-bottom: 20px;
    }
    .nav li{
    padding:5px 4px 5px 0px;
    font-size: 16px;
    }

    .search input{
        width: 225px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .nav{
        justify-self: end;
        text-align: end;
        margin-bottom: 20px;
    }
    .nav li{
    padding:5px 4px 5px 0px;
    font-size: 16px;
    }

    .search input{
        width: 600px;
        height: 25px;
    }
}
.welcome{
    grid-area: 2/1/3/6;
    background-image: url(image/Artboard\ 1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    /* font-weight: bold; */
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.welcome h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aside{
    grid-area: 3/1/4/3;
    /* background-color: rgba(0, 110, 255, 0.486); */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-rows:60px 60px 60px 60px 60px 60px 60px 80px;
    grid-template-columns: 1fr 60px ;
}
.category_title{
    grid-area:1/1/2/3 ;
    background-color: rgb(233, 233, 233);
    border-radius: 0px 10px 0px 10px;
    /* border: 1px solid; */
    padding: 10px 10px 10px 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 1;
}
.curve1{
    grid-area: 1/1/2/2;
    border-top-right-radius: 10px;
    background-color: rgba(0, 110, 255, 0.486);
    ;
}
.curve2{
    grid-area: 2/1/9/3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 110, 255, 0.486);
    text-align: center;
    padding: 30px;
    line-height: 90px;
    margin-right: 5px;
}
.category1{
    line-height: 20px;
}


.main{
    grid-area: 3/3/4/6;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 140px 140px 140px;
    margin-top: 60px;
    grid-gap: 10px;
}

.item1{
    grid-area: 1/1/2/2;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}
.item2{
    grid-area: 1/2/2/3;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);

}
.item3{
    grid-area: 2/1/3/2;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);

}
.item4{
    grid-area: 2/2/3/3;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);

}
.item5{
    grid-area: 3/1/4/2;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);

}
.item6{
    grid-area: 3/2/4/3;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
    margin-bottom: 2px;

}
.footer{
    grid-area: 4/1/5/6;
    /* background-color: rgb(37, 37, 37); */
    margin-top: 2px;
    background-image: url(image/Artboard\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}